{% extends 'base.html' %}

{% block title %}Post Details{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center mt-3">{{ posts.title }}</h1>
            <div class="text-center mt-3">{{ posts.body|safe }}</div>
            {% if user == posts.author %}
                <div class="col-1 ms-auto"><a class="btn btn-primary" href="{% url 'edit_post' posts.slug %}">Edit</a></div>
                <div class="col-1 me-auto"><a class="btn btn-danger" href="{% url 'delete_post' posts.slug %}">Delete</a></div>
            {% endif %}

            <hr class="mt-5">

            <div id="other-user-comments">
                {% if not other_user_comments %}
                    No comments yet...<div class="mb-4"><a class="link-primary" href="{% url 'add_comment' posts.slug %}">Add comment</a></div>
                {% else %}
                {% if user.is_authenticated %}
                <div class="mb-3"><a class="link-primary" href="{% url 'add_comment' posts.slug %}">Add comment</a></div>
                {% else  %}
                <div class="mb-3"><a class="link-primary" href="{% url 'account_login' %}">Login to comment</a></div>
                {% endif %}
                {% for comment in other_user_comments %}
                    <div>
                      <div class="comment-header mt-4 mb-3">commentator · <strong style="color: #000000;">{{ comment.commentator }}</strong> | date · <strong style="color: #000000;">{{ comment.date_added }}</strong></div>
                    </div>

                    <p>{{ comment.body }}</p>
                    <br>

                {% endfor %}
                {% endif %}
            </div>
            {% include 'comment/pagination-two.html' %}
        </div>
    </div>
{% endblock %}