{% extends 'base.html' %}

{% block title %}Personal account{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-3"> Here is your posts </h1>
        {% for p in posts %}
        <div class="row">
            <div class="post-container mt-5">
                <div class="post-category mb-2">category · {{ p.categories }}</div>
                <h4 class="post-title">{{ p.title }}</h4>
                <p class="post-body mb-4">{{ p.body|striptags|safe|truncatechars_html:100 }}</p>
                <div class="post-image">
                    <img src="{{ p.upload.url }}">
                </div>
                <a class="post-btn btn btn-primary mt-4" href="{% url 'responses' p.slug %}">Responses</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}}